{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if not billing_profile %}
        <div class="row">
            <div class="col" style="margin:10px;">
                <h3 class="card-title font-weight-bold" align="center">Continue as guest</h3>
                {% url "guest_register" as guest_register_url %}
                {% include 'accounts/snippets/from.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
            </div>
            <div class="col" style="margin:10px;">
                <h3 class="card-title font-weight-bold" align="center">Login</h3>
                {% include 'accounts/snippets/from.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
        </div>
    {% else %}
        {#        {% if not object.shipping_address %}#}
        {#            {% url "checkout_address_create" as checkout_address_create %}#}
        {#            <div class="form-center shadow">#}
        {#                <div class="card">#}
        {#                    <div class="card-body">#}
        {#                        <h3 class="card-title font-weight-bold" align="center">Shipping Address</h3>#}
        {#                        <hr>#}
        {#                        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {% if not object.billing_address %}
            <div class="row">
                <div class="col-6 p-4">
                    {% url "checkout_address_create" as checkout_address_create %}
                    <div class="form shadow">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title font-weight-bold" align="center">Shipping Address</h3>
                                {# Billing Address #}
                                <hr>
                                {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' old=old_addresses %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-4">
                    <div class="list-group list-group-flush shadow">

{#                        {% for old_address in old_addresses %}#}
                            <div href="#" class="list-group-item list-group-item-action p-4">
                                <h3 class="card-title font-weight-bold" align="center">
                                    Old Address</h3>
                                <hr>
                                <p>
                                    <strong>Email:</strong> {{ old_addresses.first.billing_profile }}
                                    <br>
                                    <strong>Address Line 1:</strong> {{ old_addresses.first.address_line_1 }}
                                    <br>
                                    {% if old_address.address_line_2 %}
                                        <strong>Address Line 2:</strong> {{ old_addresses.first.address_line_2 }}
                                    {% endif %}
                                    <br>
                                    {{ old_addresses.first.city }} - {{ old_addresses.first.postal_code }}
                                    <br>
                                    {{ old_addresses.first.state }}, {{ old_addresses.first.country }}
                                </p>
                            </div>
{#                        {% endfor %}#}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card shadow" style="width: 85%;margin: auto;">
                <div class="card-body" align="right">
                    <h4 class="font-weight-bold" align="center">Place Order</h4>
                    <hr>

                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td><strong>Email:</strong></td>
                            <td class="float-right">{{ object.billing_address }}</td>
                        </tr>
                        <tr>
                            <td><strong>Phone No:</strong></td>
                            <td class="float-right">{{ object.billing_address.phone_no }}</td>
                        </tr>
                        <tr>
                            <td><strong>Shipping Address:</strong></td>
                            <td class="float-right">
                                {{ object.billing_address.address_line_1 }},
                                {{ object.billing_address.city }},
                                {{ object.billing_address.state }},
                                {{ object.billing_address.country }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Postl Code:</strong></td>
                            <td class="float-right">{{ object.billing_address.postal_code }}</td>
                        </tr>
                        <tr>
                            <td><strong>Mode of Payment:</strong></td>
                            <td class="float-right">Cash on Delivery</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td><strong>Cart Total:</strong></td>
                            <td class="float-right">{{ object.cart.total }}</td>
                        </tr>
                        <tr>
                            <td><strong>Shipping:</strong></td>
                            <td class="float-right">{{ object.shipping_total }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div>
                        <h5 class="card-title font-weight-bold float-lg-left pt-2">Order Total: {{ object.total }}</h5>
                        <form class="form" method="POST" action="">{% csrf_token %}
                            <button type="submit" class="btn btn-success shadow float-lg-right"
                                    style="padding-right:50px !important;padding-left:50px !important;">Place Order
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% for product in cart.products.all %}
                    {{ product }}
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}
