{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_url %}
{% url 'cart:home' as cart_home %}
{% url 'buyerlogin' as buyerlogin %}
{% url 'buyerregistration' as buyerregistration %}
{% url 'logout' as logout %}


<nav class="navbar navbar-dark fixed-top notmob" align="center" style="padding-bottom:30px !important;">
    <a class="navbar-brand btn btn-warning" href="{{ home_url }}"><i class="fas fa-hat-wizard"></i> eComm. </a>
    <ul class="navbar-nav cart-link">
        <li class="nav-item ">
            <a class="nav-link {% if request.path == cart_home %}activemob{% endif %}" href="{{ cart_home }}">
                <i class="fas fa-shopping-cart"></i>
                {% if request.session.cart_items > 0 %}
                    <span class="badge badge-pill badge-danger">
                        {{ request.session.cart_items }}
                    </span>
                {% endif %}
            </a>
        </li>
    </ul>
    <br>
    {% include 'search/snippets/search-form.html' %}
</nav>

<div class="bottom-container">
    <div class="bottom-nav notmob">
        <ul class="list-inline">
            <li class="list-inline-item ml-4">
                <a class="nav-link {% if request.path == home_url %}activemob{% endif %}" href="{{ home_url }}"> <i class="fas fa-home"></i> </a>
            </li>
            <li class="list-inline-item ml-4">
                <a class="nav-link {% if request.path == products_url %}activemob{% endif %}" href="{{ products_url }}"> <i class="fas fa-tshirt"></i> </a>
            </li>
            <li class="list-inline-item ml-4 mr-4">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" style="color: white;"></i>
                    </button>
                    <div class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="#">Welcome {{ user.username }}</a>
                            <hr>
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="{{ logout }}">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ buyerlogin }}">Sign In</a>
                            <a class="dropdown-item" href="{{ buyerregistration }}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
