{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_url %}
{% url 'cart:home' as cart_home %}
{% url 'buyerlogin' as buyerlogin %}
{% url 'buyerregistration' as buyerregistration %}
{% url 'logout' as logout %}
{% url 'addproduct' as add_product_url %}
{% url 'placed' as placed %}
{% url 'edit' as edit %}
{% url 'profile' as profile %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top mob">
{#    <div class="container">#}
        <a class="navbar-brand btn btn-warning ml-5" href="{{ home_url }}"
           style="border-radius:30px !important;padding-top:6px !important;padding-bottom:6px !important;"><i
                class="fas fa-hat-wizard"></i> eComm.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-search"></i>
        </button>

        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mob">

            </ul>

            {% include 'search/snippets/search-form.html' %}

            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <ul class="navbar-nav mob">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ cart_home }}">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge badge-pill badge-danger">{{ request.session.cart_items }}</span>

                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active ml-3" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu p-2 pt-3 w-25" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href="{{ placed }}">Past Orders</a>
                                <a class="dropdown-item" href="{{ profile }}">Profile</a>
                                <a class="dropdown-item" href="{{ edit }}">Settings</a>
                                <a role="button" class="btn btn-sm btn-danger btn-block" href="{{ logout }}"
                                   style="color: white !important;">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ cart_home }}">
                            <i class="fas fa-shopping-cart"></i>
                            {% if request.session.cart_items >= 1 %}
                                <span class="badge badge-pill badge-danger ">{{ request.session.cart_items }}</span>

                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item mob">
                        <a class="nav-link" href="{{ buyerlogin }}">Sign In</a>
                    </li>
                    <li class="nav-item mob">
                        <a class="nav-link" href="{{ buyerregistration }}">Sign Up</a>
                    </li>
                </ul>
            {% endif %}

        </div>
{#    </div>#}
</nav>
<div class="mini-nav mob">
    <div class="container">
        <ul class="list-inline mb-0">
            {% if request.user.user_type == "seller" %}
                <li class="list-inline-item {% if request.path == home_url %}active{% endif %}  pr-2 pl-2">
                    <a class="nav-link" href="{{ home_url }}">Home </a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{{ products_url }}">All Products</a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{{ add_product_url }}">Add Products</a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{{ products_url }}">Orders</a>
                </li>
            {% else %}
                <li class="list-inline-item {% if request.path == home_url %}active{% endif %}  pr-2 pl-2">
                    <a class="nav-link" href="{{ home_url }}">Home </a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{{ products_url }}">All Products</a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{% url 'search:query' %}?q=Jewellery">Jewellery</a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{% url 'search:query' %}?q=Home Decor">Home Decor</a>
                </li>
                <li class="list-inline-item {% if request.path == products_url %}active{% endif %} pr-2 pl-2">
                    <a class="nav-link" href="{% url 'search:query' %}?q=Clothing">Clothing</a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>
<div class="mob">
    <br>
</div>
<br><br><br><br><br><br>

{% if user.user_type == "seller" %}
    <div class="btn btn-warning add-product mob">
        <a class="nav-link" href="{{ add_product_url }}">ADD PRODUCT</a>
    </div>
{% endif %}