{% extends "base.html" %}
{% block content %}
    {% if query %}
        <div class="alert alert-success mb-4" role="alert">
            Showing Results for {{ query }}.
        </div>
        <div class="card-columns" >
        {% for obj in object_list %}
            <div class="card border-secondary card-list shadow mb-4">
                <a href="{{ obj.get_absolute_url }}" target="_blank">
                    <img src="{{ obj.image.url }}" class="card-img p-2" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>{{ obj.title }}</strong>
                        <br>
                        <span class="badge badge-pill badge-success pr-2 pl-2" style="font-size:12px;" align="right">{{ obj.category }}</span>
                    </h5>
                    <p><strong>Seller:</strong>&nbsp;{{ obj.seller }}&nbsp;</p>
                    <hr>
                    <h5 class="card-text">Rs. {{ obj.price }}</h5>

                </div>
            </div>
        {% endfor %}

    </div>
    {% else %}
        <div class="alert alert-danger mb-4" role="alert">
            Sorry no results matching your search.
        </div>
        <br>
        <div class="container">
            {% include 'search/snippets/search-form.html' %}
        </div>
        <br><br>
    {% endif %}

{% endblock %}