{% extends "base.html" %}
{% block content %}

    {% if object_list.count > 0 %}
        <div class="alert alert-primary mb-4 shadow" role="alert">
            Showing {{ object_list.count }} results for <strong>{{ query }}</strong>.
        </div>
        <div class="card-columns" >
        {% for obj in object_list %}
            <div class="card border-secondary card-list shadow ">
                <a href="{{ obj.get_absolute_url }}" target="_blank">
                    <img src="{{ obj.image.url }}" class="card-img p-2" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>{{ obj.title }}</strong>
                        <br>
                        <span class="badge badge-pill badge-success pr-2 pl-2" style="font-size:12px;" align="right">{{ obj.category }}</span>
                    </h5>
                    <p><strong>Seller:</strong>&nbsp;{{ obj.seller }}&nbsp;</p>
                    <hr>
                    <h5 class="card-text">Rs. {{ obj.price }}</h5>

                </div>
            </div>
        {% endfor %}

    </div>
    {% else %}
        <div class="alert alert-danger mb-4" role="alert">
            Sorry no results found for <strong>{{ query }}</strong>.
        </div>
        <br>
        <br><br>
    {% endif %}

{% endblock %}