{% extends "base.html" %}
{% block content %}

    {% if object_list.count > 0 %}
        <div class="alert alert-primary mb-4 shadow" role="alert">
            Showing {{ object_list.count }} results for <strong>{{ query }}</strong>!
        </div>
        <div class="card-columns mob">
            {% for obj in object_list %}
                <a href="{{ obj.get_absolute_url }}" target="_blank" style="color: black !important;">
                    <div class="card border-secondary shadow mb-4 list-card">
                        <div class="list-img">
                            <img src="{{ obj.image.url }}" class="card-img p-2" alt="...">
                        </div>
                        <div class="card-body list-card-body">
                            <h6 class="card-title font-weight-bold">
                                {{ obj.title }}
                                <span class="badge badge-pill badge-success p-1 pr-2 pl-2 float-right"
                                      style="font-size: 10px;"
                                      align="right">{{ obj.category|upper }}</span>
                            </h6>

                            <div style="margin-top:-10px;">
                                <small>{{ obj.store_name }}&nbsp;</small>
                            </div>
                            <p class="mb-0 mt-2">
                                <strong>Rs. {{ obj.price }}</strong>

                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger mb-4 shadow" role="alert">
            Sorry no results found for <strong>{{ query }}</strong>!
        </div>
        {% include 'base/ad.html' %}
        <br>
        <br><br>
    {% endif %}

{% endblock %}