{% load crispy_forms_tags %}
<form method='POST'
      action='{% if action_url %}{{ action_url }}{% else %}{% url "buyerlogin" %}{% endif %}'> {% csrf_token %}
    {% if next_url %}
        <input type='hidden' name='next' class="form-control" value='{{ next_url }}'/>
    {% endif %}
    {% if address_type %}
        <input type='hidden' name='address_type' class="form-control" value='{{ address_type }}'/>
    {% endif %}
    {#    {{ form|crispy }}#}
    <div id="div_id_phone_no" class="form-group ">
        <label for="id_phone_no" class="col-form-label requiredField">Phone No*</label>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                      style="border-top:none !important;border-right:none !important;border-left:none !important;border-radius: 0px;"> +91 </span>
            </div>
            <input type="text" name="phone_no" class="form-control textinput textInput form-control"
                   placeholder="Phone Number" value="{{ old.last.phone_no }}" id="id_phone_no">
        </div>
    </div>
    <div id="div_id_address_line_1" class="form-group">
        <label for="id_address_line_1" class="col-form-label  requiredField">Address 1<span
                class="asteriskField">*</span> </label>
        <div class=""><input type="text" name="address_line_1" class="form-control textinput textInput form-control"
                             placeholder="Address line 1" value="{{ old.last.address_line_1 }}" maxlength="120"
                             required id="id_address_line_1"></div>
    </div>
    <div id="div_id_address_line_2" class="form-group"><label for="id_address_line_2" class="col-form-label ">
        Address 2 (Optional)
    </label>
        <div class=""><input type="text" name="address_line_2" class="form-control textinput textInput form-control"
                             placeholder="Address line 2" value="{{ old.last.address_line_2 }}" maxlength="120"
                             id="id_address_line_2"></div>
    </div>
    <div id="div_id_city" class="form-group"><label for="id_city" class="col-form-label  requiredField">
        City<span class="asteriskField">*</span> </label>
        <div class=""><input type="text" name="city" class="form-control textinput textInput form-control"
                             placeholder="Enter city" value="{{ old.last.city }}" maxlength="120" required
                             id="id_city"></div>
    </div>
    <div id="div_id_country" class="form-group"><label for="id_country" class="col-form-label  requiredField">
        Country<span class="asteriskField">*</span> </label>
        <div class=""><input type="text" name="country" value="{{ old.last.country }}"
                             class="form-control textinput textInput form-control" placeholder="Enter country"
                             maxlength="120" required id="id_country"></div>
    </div>
    <div id="div_id_state" class="form-group"><label for="id_state" class="col-form-label  requiredField">
        State<span class="asteriskField">*</span> </label>
        <div class=""><input type="text" name="state" class="form-control textinput textInput form-control"
                             placeholder="Enter state" value="{{ old.last.state }}" maxlength="120" required
                             id="id_state"></div>
    </div>
    <div id="div_id_postal_code" class="form-group"><label for="id_postal_code" class="col-form-label  requiredField">
        Postal code<span class="asteriskField">*</span> </label>
        <div class=""><input type="text" name="postal_code" class="form-control textinput textInput form-control"
                             placeholder="Enter postal code" value="{{ old.last.postal_code }}" maxlength="120"
                             required id="id_postal_code"></div>
    </div>

    <div align="center">
        <button type="submit" class="btn btn-primary form-btn shadow">SUBMIT</button>
    </div>

</form>
