{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {#    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=0.8; maximum-scale=0.8; minimum-scale=0.8;"/>
    {% include 'base/css.html' %}
    <title>{{ title }}</title>
</head>
<body>

{% include 'base/navbar.html' %}
<div class="container">
    {% block content %}{% endblock %}
</div>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button">
    <i class="fa fa-chevron-up"></i>
</button>
<br><br><br>

{% include 'base/mobilenav.html' %}
{% include 'base/footer.html' %}
{% include 'base/js.html' %}
</body>
</html>