{% extends "base.html" %}
{% load static %}
{% block content %}

    {% if request.user.user_type == 'seller' %}


        <h3 class="font-weight-bold">Active Products</h3>
        <hr>
        <div class="card-columns">
            {% for product in products %}
                <div class="card shadow mb-4">
                    <a href="{{ product.get_absolute_url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="card-img p-2" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>{{ product.title }}</strong>
                            <br>
                            <span class="badge badge-pill badge-success pr-2 pl-2" style="font-size:12px;" align="right">{{ product.category }}</span>
{#                            <span class="badge badge-pill badge-danger pr-2 pl-2" style="font-size:12px;" align="right">{{ product.color }}</span>#}
                        </h5>
                        <p><strong>Seller:</strong>&nbsp;{{ product.seller }}&nbsp;</p>
                        <hr>
                        <h5 class="card-text">Rs. {{ product.price }}</h5>

                    </div>
                </div>
            {% endfor %}
        </div>







        <br><br>

    {% else %}
        {% include 'products/card-carousel.html' %}
    {% endif %}




{% endblock %}


