{% load static %}
<link rel="stylesheet" href='{% static "css/seller.css" %}'>

<a class="btn btn-warning btn-block font-weight-bold notmob shadow btn-sm" href="{% url 'addproduct' %}">ADD PRODUCT</a>
<div class="card mt-3 shadow">
    <div class="card-body"> Store Details
        <table class="table mt-3 p-3">
            <tbody>
            <tr align="right" class="m-2">
                <td class="font-weight-bold" align="left">Store</td>
                <td>{{ store }}</td>
            </tr>
            <tr align="right" class="m-2">
                <td class="font-weight-bold" align="left">Owner</td>
                <td>{{ store.owner }}</td>
            </tr>
            <tr align="right" class="m-2">
                <td class="font-weight-bold" align="left">Address</td>
                <td>{{ store.address }}<br>{{ store.city }}
                    - {{ store.postal_code }}<br>{{ store.state }}, {{ store.country }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card mt-3 shadow">
    <a data-toggle="collapse" href="#collapseactiveproducts">
        <div class="card-body"> Active Products <span
                class="badge badge-warning badge-pill ">{{ products.count }}</span>
            <i class="fas fa-chevron-right fas-lg float-right pt-1"></i>
        </div>
    </a>
</div>
<div class="collapse" id="collapseactiveproducts">
    {#    <div class="card card-body">#}

    <div class="active-list">
        {% for obj in products %}
            <div class="card border-secondary shadow pt-3 pr-1 pl-1 pb-0 m-2 mb-4 list-card active-products">
                <div class="list-img">
                    <img src="{{ obj.image.url }}" class="card-img p-2" alt="...">
                </div>
                <div class="card-body list-card-body">
                    <h6 class="card-title font-weight-bold">
                        {{ obj.title }}
                        <span class="badge badge-pill badge-success p-1 pr-2 pl-2 float-right"
                              style="font-size: 10px;"
                              align="right">{{ obj.category|upper }}</span>
                    </h6>

                    <div style="margin-top:-10px;">
                        <small>{{ obj.description|truncatechars:50 }}&nbsp;</small>
                    </div>
                    <p class="mt-2 mb-2">
                        <strong>Rs. {{ obj.price }}</strong>
                    </p>
                    <p align="center">
                        <button type="button" class="btn btn-sm btn-warning">
                            Edit
                        </button>
                        <a role="button" href="/delete/{{ product.slug }}"
                           class="btn btn-sm btn-danger">Delete</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{#</div>#}
<div class="card mt-3 shadow">
    <a data-toggle="collapse" href="#collapsependingorders">
        <div class="card-body"> Pending Orders
            <spane class="badge badge-warning badge-pill ">{{ order_received.count }}</spane>
            <i class="fas fa-chevron-right fas-lg float-right pt-1"></i>
        </div>
    </a>
    <div class="collapse" id="collapsependingorders">
        <div class="card card-body">
            {% for order in order_received %}
                <div class="order-object align-right pt-3">
                    <strong>Product Id:</strong> {{ order.order_id }}<br><strong>Product:</strong> {{ order.product }}
                    <hr>
                    <strong>Buyer:</strong> {{ order.buyer_address }}
                    <br>
                    <strong>Address:</strong> {{ order.buyer_address.address_line_1 }}, {{ order.buyer_address.city }}, {{ order.buyer_address.state }}, {{ order.buyer_address.country }}, {{ order.buyer_address.postal_code }}
                    <br>
                    <strong>Phone No:</strong> {{ order.buyer_address.phone_no }}
                    <br>
                    <strong>Placed On:</strong> {{ order.timestamp }}
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{#<div class="card mt-3 shadow">#}
{#    <div class="card-body"> Store Settings#}
{#        <i class="fas fa-chevron-right fas-lg float-right pt-1"></i>#}
{#    </div>#}
{#</div>#}


