@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Work+Sans&display=swap');

html,body {
    background-color: #F2F5FB;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Work Sans', sans-serif !important;
    /*font-size:1.1rem;*/
    /*overflow:hidden !important;*/
    min-height: 100%;
}

nav {
    /*background-color: #577ee8 !important;*/
    background: #1c2331 !important;
    padding: 15px !important;
}

.card {
    border: none !important;
}

.shadow {
    box-shadow: #DFE2E8 0px 8px 15px !important;
}

.card-img-top {

}

.btn {
    border-radius: 30px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.btn-primary {
    background-color: #577ee8 !important;
}

.card-columns {
    column-count: 4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.container{
    min-height:100%;
}

.form-center {
    margin: auto;
    width: 50%;
}

.mobile-nav {
    display: none;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
    color: white !important;
}

.navbar-dark :active .navbar-toggler :active {
    border-color: transparent !important;
    color: white !important;
}

@media only screen and (max-width: 768px) {
    .form-center {
        width: 100%;
    }

    .card-columns {
        column-count: 1;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .card-list {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .col-9, .col-3{
        min-width: 100% !important;
    }
    .card-img{
        width: 92%;
    }

    .navbar-nav li {
        padding: 5px 25px 5px 25px;
    }

    .nav-item a {
        display: flex;
        flex-direction: row;
    }

    .mob {
        display: none;
    }

    .mobile-nav {
        display: flex;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    footer{
        /*display: none;*/
    }
}
.badge-dark{
    /*background:#577ee8  !important;*/
    /*color:#ffffff;*/
    background: transparent;
    color:#577ee8  !important;
}
footer{
    background: #1c2331 !important;
    position: relative;
    color: white !important;
}
footer a{
    color: white;
}
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
