{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="form-center shadow">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title font-weight-bold" align="center">Add Product</h3>
                <hr>
                <form method='POST' action="" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group">
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.price|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="form-group">

                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.color|as_crispy_field }}
                        <small id="emailHelp" class="form-text text-muted pl-4">* Single Color:
                            black/blue/yellow/etc..</small>
                        <small id="emailHelp" class="form-text text-muted pl-4">* Multiple Color:
                            black,blue,red/yellow,white/etc..</small>
                    </div>
                    <div class="form-group">
                        {{ form.category|as_crispy_field }}
                        <small id="emailHelp" class="form-text text-muted pl-4">* Single Category:
                            t-shirt/shirt/shoe/etc..</small>
                        <small id="emailHelp" class="form-text text-muted pl-4">* Multiple Category:
                            shirt,vneck,cotton/t-shirt,round-neck/etc..</small>
                    </div>

                    {#                    {{ form|crispy }}#}
                    <div align="center">
                        <button type="submit" class="btn btn-primary form-btn">SUBMIT</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
