{% extends "base.html" %}
{% block content %}
    <div class="notmob list-grid">
        {% for obj in object_list %}
            <a href="{{ obj.get_absolute_url }}" target="_blank" style="color: black !important;">
                <div class="product m-1 shadow">
                    <div class="list-img">
                        <img src="{{ obj.image.url }}" class="card-img p-1" alt="...">
                    </div>
                    <div class="list-card-body p-3 pt-3">
                        <h6 class="card-title font-weight-bold">
                            {{ obj.title }}
                            <span class="badge badge-pill badge-success p-1 pr-2 pl-2 float-right"
                                  style="font-size: 10px;"
                                  align="right">{{ obj.category|upper }}</span>
                        </h6>

                        <div style="margin-top:-10px;">
                            <small>{{ obj.store_name }}&nbsp;</small>
                        </div>
                        <p class="mb-0 mt-2">
                            <strong>Rs. {{ obj.price }}</strong>
                        </p>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
    <div class="mob list-grid">
        {% for obj in object_list %}
            <a href="{{ obj.get_absolute_url }}" target="_blank" style="color: black !important;">
                <div class="card border-secondary shadow m-2 list-card">
                    <div class="list-img">
                        <img src="{{ obj.image.url }}" class="card-img p-2" alt="...">
                    </div>
                    <div class="card-body list-card-body">
                        <h6 class="card-title font-weight-bold">
                            {{ obj.title }}
                            <span class="badge badge-pill badge-success p-1 pr-2 pl-2 float-right"
                                  style="font-size: 10px;"
                                  align="right">{{ obj.category|upper }}</span>
                        </h6>

                        <div style="margin-top:-10px;">
                            <small>{{ obj.store_name }}&nbsp;</small>
                        </div>
                        <p class="mb-0 mt-2">
                            <strong>Rs. {{ obj.price }}</strong>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>



{% endblock %}