<form method="POST" action='{% url "cart:update" %}' class="form my-2 my-lg-0 mr-4">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}"/>
{#    {{ cart.products.all }}#}
    {% if in_cart %}
        <button type="submit" class="btn btn-danger shadow" style="width:40%">Remove <i class="far fa-trash-alt"></i>
        </button>
    {% else %}
        {% if product in cart.products.all %}
            <button type="submit" class="btn btn-danger shadow" style="width:40%">Remove <i
                    class="far fa-trash-alt"></i>
            </button>
        {% else %}
            <button type="submit" class="btn btn-warning shadow" style="width:40%">Add To Cart <i
                    class="fas fa-shopping-cart"></i>
            </button>
        {% endif %}
    {% endif %}
</form>
